* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: block;
    margin-top: 50px;
    height: 415px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 0 rgb(190, 188, 188);
}

section:hover {
    display: block;
    height: 415px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgb(148, 143, 143);
}

section > img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

section > h3, section > p {
    padding: 25px 0 0 20px;
}

